/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600,700');*/

* {
    font-family: Arial;
}

.row {
    display: flex;
    position: relative;
  }
  .columnA {
    display: flex;
    padding: 20px;
  }
  .columnB {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: larger;
  }